# Terraform specific files
*.tfstate
*.tfstate.backup
*.tfvars
.terraform/
.terraform.lock.hcl
crash.log

# Ignore override files
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
